<div class="container">
	<div class="row">
	</div>
	<hr>
	<div class="row">
		<form ng-submit="editor.sendPost()" id="postForm" name="postForm" enctype="multipart/form-data">
			<div class="form-group row">
			  <label for="title" class="col-2 col-form-label">Title</label>
			  <div class="col-10">
			    <input class="form-control" type="text" id="title" ng-model="editor.post.title">
			  </div>
			</div>
			<div class="form-group row">
			    <label for="mainImage" class="col-2">Main Image</label>
			    <input type="file" class="form-control-file" id="mainImage" ng-model="editor.post.mainImage" aria-describedby="fileHelp">
			    <small id="fileHelp" class="form-text text-muted">Upload the main image here.</small>
			</div>
			<div class="form-group row">
			    <label for="ckedit" class="col-2">Body</label>
        <div id="ckedit" ckeditor="editor.options" ng-model="editor.post.body"></div>
			</div>
			<div class="form-group row">
			  <label for="author" class="col-2 col-form-label">Author</label>
			  <div class="col-10">
			    <input class="form-control" type="text" id="author" ng-model = "editor.post.author">
			  </div>
			</div>
			<div class="form-group row">
			    <label for="category">Category</label>
			    <select class="form-control" id="category" ng-model="editor.post.category">
			      <option>General</option>
			    </select>
			</div>
			 <div class="form-group row">
                <button type="submit" class="btn btn-success btn-lg pull-left">Submit</button>
             </div>
		</form>

	</div>
</div>
