<header-small></header-small>
<!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{post.post.title}}</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">{{post.post.author}}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.post.date}}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="{{post.post.mainImage}}" widt="900px" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead" ng-bind-html="post.post.body"></p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->


                <!-- Posted Comments -->
                <dir-disqus config="post.config"></dir-disqus>


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                  <form name="searchForm" ng-submit="post.goSearch()">

                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="post.searchTerm">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->

                  </form>
                </div>

                <!--&lt;!&ndash; Blog Categories Well &ndash;&gt;-->
                <!--<div class="well">-->
                    <!--<h4>Blog Categories</h4>-->
                    <!--<div class="row">-->
                        <!--<div class="col-lg-6">-->
                            <!--<ul class="list-unstyled">-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="col-lg-6">-->
                            <!--<ul class="list-unstyled">-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.row &ndash;&gt;-->
                <!--</div>-->

                <!--&lt;!&ndash; Side Widget Well &ndash;&gt;-->
                <!--<div class="well">-->
                    <!--<h4>Side Widget Well</h4>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>-->
                <!--</div>-->

            </div>

        </div>
        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->
