<header-small></header-small>


<!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Caribbeanflowershop Blog <br>
                    <small>Ideas from us to you.</small>
                </h1>

                <!-- First Blog Post -->
                <div ng-repeat="post in main.posts">
                    <h2>
                        <a href="#">{{post.title}}</a>
                    </h2>
                    <p class="lead">
                        by <a href="index.php">{{post.author}}</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.date}} in {{post.category}}</p>
                    <hr>
                    <img class="img-responsive" src="{{post.mainImage}}"  width="900" alt="">
                    <hr>
                    <div>
                      <span ng-bind-html="(post.body | limitTo:400)+'.............'">
                      </span>
                    </div>
                    <a class="btn btn-primary" ui-sref="post({id: post._id})">Read More<span class="glyphicon glyphicon-chevron-right"></span></a>
                  <a ng-show="main.isAdmin()" class="btn btn-warning" ui-sref="editor({id: post._id})">Edit</a>
                  <a ng-show="main.isAdmin()" class="btn btn-danger" ng-click="main.remove(post._id)">Remove</a>
                    <hr>

                </div>




                <!-- Pager -->
                <!--<ul class="pager">-->
                    <!--<li class="previous">-->
                        <!--<a href="#">&larr; Older</a>-->
                    <!--</li>-->
                    <!--<li class="next">-->
                        <!--<a href="#">Newer &rarr;</a>-->
                    <!--</li>-->
                <!--</ul>-->

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                  <form name="searchForm" ng-submit="main.search()">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" ng-model="main.searchInput.searchString">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="submit" >
                                <span class="glyphicon glyphicon-search"></span>
                          </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                  </form>
                </div>

                <!-- Blog Categories Well -->
               <!--  <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- /.col-lg-6 -->
                        <!-- <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- /.col-lg-6 -->
                   <!--  </div> -->
                    <!-- /.row -->
                <!-- </div> -->

                <!-- Side Widget Well -->
               <!--  <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div> -->

            </div>

        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->
