<header ng-style={{myStyle}} class="hero-unit" id="banner">
  <div class="container" >
   <p class="spacer">

   </p>
    <b><h1 class="animated fadeInUp">Blog</h1></b>
    <!-- <p class="lead">Have them delivered.</p> -->
  </div>
</header>
